html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body,header,h1,ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}
a {
    text-decoration: none;
}

.header {
    color: #fff;
    background-color: #1B1310;
    margin-bottom: 100px;
}

.header_bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid #fff;
    padding: 0 120px;
}

.header_nav {
    display: flex;
    font-size: 1.6rem;
    font-weight: bold;
}

.header_nav li {
    margin-left: 30px;
    color: #fff;
}

.header_nav li a {
    color: #fff;
}

.site_title {
    font-size: 2.6rem;
}


.fv_img {
    background-image: url(../img/fv-bgi@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 90vh;
    position: relative;
}

.fv_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    border: 1px solid #fff;
    font-weight: bold;
    padding: 35px 42px;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
}

.contents_title {
    font-size: 3.6rem;
    color: #141414;
    margin-bottom: 70px;
    text-align: center;
    font-weight: bold;
}

.about {
    margin-bottom: 150px;
}

.sub_title {
    font-size: 2.4rem;
}

.text {
    font-size: 1.4rem;
}

.service_contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.service_text {
    padding-left: 70px;
}

.service_text2 {
    padding-right: 70px;
}

.service_contents:last-child {
    margin-bottom: 0;
}

.service {
    margin-bottom: 150px;
}

.news {
    margin-bottom: 152px;
}

.news_contents {
    display: flex;
    justify-content: space-between;
}

.news_card {
    width: calc((100% / 3) - 25px);
    -webkit-box-shadow: 0 0 6px rgba(27, 19, 16, 0.4);
        box-shadow: 0 0 6px rgba(27, 19, 16, 0.4);
}

.news_text {
    padding: 25px 34px;
    font-size: 1.3rem;
}

.contact {
    max-width: 700px;
    margin: 0 auto 50px;
}

.contact_title {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 70px;
}

label,
input,textarea {
    width: 100%;
}

input,
textarea {
    font-size: 1.6rem;
    border: 1px solid #141414;
}

input {
    margin-bottom: 22px;
}

textarea {
    margin-bottom: 50px;
}

.btn {
    padding: 16px 97px;
    background-color: #1B1310;
    color: #FFFFFF;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 0 0 6px rgba(27, 19, 16, 0.4);
        box-shadow: 0 0 6px rgba(27, 19, 16, 0.4);
}

.footer {
    background-color: #1B1310;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    padding: 30px 0;
}