html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body,header,h1,ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.header {
    color: #fff;
    background-color: #1B1310;
    margin-bottom: 100px;
}

.header_bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid #fff;
    padding: 0 120px;
}

.header_nav {
    display: flex;
    font-size: 1.6rem;
    font-weight: bold;
}

.header_nav li {
    margin-left: 30px;
}

.site_title {
    font-size: 2.6rem;
}


.fv_img {
    background-image: url(../img/fv-bgi@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 90vh;
    position: relative;
}

.fv_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    border: 1px solid #fff;
    font-weight: bold;
    padding: 35px 42px;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
}

.contents_title {
    font-size: 3.6rem;
    color: #141414;
    margin-bottom: 70px;
    text-align: center;
    font-weight: bold;
}

.about {
    margin-bottom: 150px;
}

.sub_title {
    font-size: 2.4rem;
    font-family: 'Noto Sans JP', sans-serif;
}

.text {
    font-size: 1.4rem;
    font-family: 'Noto Sans JP', sans-serif;
}

.service_contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.service_text {
    padding-left: 70px;
}

.service_text2 {
    padding-right: 70px;
}

.service_contents:last-child {
    margin-bottom: 0;
}

.service {
    margin-bottom: 150px;
}